$primary-color: #3498db;
$text-color: #ffffff;

$c-sk-indigo-100: #a57fc0;
$c-sk-indigo-200: #9366b4;
$c-sk-indigo-300: #814ca7;
$c-sk-indigo-400: #6e329b;
$c-sk-indigo-500: #5d198e;
$c-sk-indigo-600: #4b0082;
